@font-face {
    font-family: 'Josefin Sans', sans-serif;

}
@font-face {
    font-family: 'Josefin Sans', sans-serif;

}
@-ms-viewport {
  width: device-width;
}

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
input,
select,
textarea {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    line-height: 1;
}

::-moz-selection {
    text-shadow: none;
}

::selection {
    text-shadow: none;
}

img {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin-top: 300px;
    vertical-align: middle;
    background: #FFF;
    color: #000;
    z-index: 2000;
}

 article {
     margin-top: 1rem;
     background-color: white;
        }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    margin: auto;
    padding: 0;
    color: black;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    letter-spacing: -0.8px;
}

h1, h4, li, p {
    text-align: center;
}

ul, li, a {
    list-style-type: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: black;
    opacity: none;
}
p {
    font-weight: 300;
}
img {
    max-width: 100%;
}

#outerWrapper {
    margin: 0 auto;
}
#header-outer {
    position: fixed;
    width: 100%;
    background-color: #fff;
    behavior: url(http://www.theducates.com/Codepen3/PIE-1.0.0/PIE.htc);
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    z-index: 100;
}
header {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.15em;
    background-color: white; 
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    text-align: right;
   
}
header .logo-small {
    display: none;
}
header .logo img {
    width: 160px; 
    margin-top: -1rem;
}
#menu-icon {
    display: none;
}

.nav li.home {
    display: none;
}

.nav li {
    line-height: 5;
    
}

.nav a:hover,
.nav a:focus,
.nav a:active {
     text-decoration: line-through;
     color: gray;
}
nav {
    text-align: right;
    color: black;
    opacity: none;
}
nav a {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.2;
    color: black;
    opacity: none;
    text-align: right;
}



.mainContent {
    background-color: #FFF;
    background-size: 100%;
    opacity: none;
    color: black;
}



/* ==========================================================================
  WORK
   ========================================================================== */


.scale-anm {
  transform: scale(1);
}


.tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  
}

div .btn {
    margin-bottom: 0.1rem;
    display: none;
}
.btn {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    color: #000;
    border: none;
    background-color: white;
    margin-left: 2rem;
    color: gray;
    
}


.flex-center {
  display: flex;
  justify-content: center;
}

main .bblue:hover, main .bblue:active, main .bblue:focus{
    height: 30px;
    color: black;
    border-color: blue;
    border-width: 0px 0px 3px 0px;
    border-style:solid;
}

main .cyan:hover, main .cyan:active, main .cyan:focus{
    height: 30px;
    color: black;
    border-color: cyan;
    border-width: 0px 0px 3px 0px;
    border-style:solid;
}

main .pink:hover, main .pink:active, main .pink:focus{
    height: 30px;
    color: black;
    border-color: deeppink;
    border-width: 0px 0px 3px 0px;
    border-style:solid;
}

main .yellow:hover, main .yellow:active, main .yellow:focus{
    height: 30px;
    color: black;
    border-color: yellow;
    border-width: 0px 0px 3px 0px;
    border-style:solid;
}



::-moz-focus-inner {
  border: 0;
  padding: 0;
}


/* ==========================================================================
   About
   ========================================================================== */
.gray{
    background-color: #f6f6f6;
}

img.aboutme {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

hr.hrabout{
    border: 0;
    border-top: 3pt solid #cccccc;
    border-bottom: 1px solid #f6f6f6;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.pabout {
    font-size: 13px;
    font-kerning: none;
    line-height: 21px;
    letter-spacing: 1.3px;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.blue {
    color: blue;
    text-decoration: none;
}

.dr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1cm;
    width: 50%;
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.dr:hover{
   opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}


#container {
    
}
#accordion input {
	display: none;
}
#accordion label {
	cursor: pointer;
}
#accordion label:hover {
    color: gray;
}

#accordion input:checked + label {
    margin-bottom: 0;
    outline: none !important;
}
#accordion article {
	background:#f6f6f6;
	height:0px;
	overflow:hidden;
	z-index:2;
    margin-top: 0px;
}
#accordion article table {
   padding: 0.2cm;
}
#accordion input:checked article {
    outline: none !important;
}
#accordion input:checked ~ article {
	height: auto;
    outline: none !important;
}

input:focus input:hover{
    outline:none;
}

.table{
     display: flex;
   justify-content: center;
}

table {
  border-collapse: collapse;
  margin-top: 0;
    padding-top: 0;
    font-size: 12px;
    max-width: 500px; 
}

td:first-child{
  width:23%;
}

td:first-child + td{
  width:55%;
}

th {
  font-weight: bold;
}
th,
td {
  border-bottom: 2.2pt solid #cccccc;
  line-height: 2;
  padding-left: 0.1em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  text-align: left;
  letter-spacing: 0.5px;
}





/* ==========================================================================
   contact
   ========================================================================== */
img.displayh {
        display: none;
    }

img.display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding-top: 2rem;
}

.cli{
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
}

img.icon {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    margin-bottom: 10px;
}

img.icon:hover {
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */    
}


hr.hrcontact{
    border: 0;
    border-top: 3pt solid #cccccc;
    border-bottom: 1px solid #f6f6f6;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3.hf{
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 10px;
}



/* ==========================================================================
   social
   ========================================================================== */
img.displays {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    padding-top: 2rem;
}

h4.hf{
    font-weight: 300;
    font-size: 27px;
    letter-spacing: 2px;
    text-align: center;
}
.sociallist {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul.social {
    list-style: none;
}
 

hr.hrconnect{
    border: 0;
    border-top: 3pt solid #cccccc;
    border-bottom: 1px solid #f6f6f6;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icons2{
    display: none;
}

img.media {
      opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

img.media:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

/* ==========================================================================
   up
   ========================================================================== */

a.up {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55px;
    padding-top: 0.5rem;
    padding-bottom: 0.1cm;
}

p.uptext {
    font-size: 11px;
    text-align: center;
    line-height: 15px;
    letter-spacing: 1px;
    color: gray;
    margin-left: 1rem;
    margin-right:1rem;
    padding-bottom:0;
    margin-bottom: 0;
}

.footer{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    
}

.cr{
    text-align: center;
    font-size: 12px;
    padding-top: 1.5rem;
    
}

p.crt {
    letter-spacing: 1px;
}

/* ==========================================================================
   Project
   ========================================================================== */

h5.project{
    text-align: center;
    color: blue;
    font-size: 16px;
    padding-bottom: 0;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

p.projectd{
    
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
 
}

hr.hrproject{
    border: 0;
    border-top: 3pt solid #cccccc;
    border-bottom: 1px solid #f6f6f6;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    margin-bottom: 1.5rem;
}

a.next {
    text-decoration: none;
    letter-spacing: 1px;
    margin-bottom: 0;
 
}

a.next:hover {
    color: gray;
    cursor: pointer;
 
}

ul.nextb {
    margin-bottom: 1rem;
}
img.nicon {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    margin-bottom: 10px;
}

img.nicon:hover {
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */  
    cursor: pointer;
}

 .projectbox {
     padding-bottom: 0.3rem;
     margin-bottom: 0;
     display: block;
}

 .projectbox2 {
     display: none;
}

.project2{
    display: none;
}

.hrproject2{
    display: none;
}

.projectd2{
    display: none;
}

.next2{
    display: none;
}
img.nicon2{
    display: none;
}

/* ==========================================================================
  Food for life report
   ========================================================================== */
a.copy {
    display: block;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 18px;
    color: blue;
    font-weight: 500;
}

a.copy:hover{
    color: gray;
    text-decoration: underline;
}

a.copy2 {
    display: none;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */


@media only screen and (max-width: 580px) {                                             /*******  mobile - max 580px   *******/
      
    
        header .logo {
            display: none;
        }
    
        header .logo-small {
            display: block;
            float: left;
            margin: 3px 0 0 9px;
        }
    
        #menu-icon {
            display: block;
            float: right;
            content: "";
            position: absolute;
            top: 20px;
            right: 20px;
            width: 1.30em;
            height: 0.125em;
            border-top: 0.375em double #000;
            border-bottom: 0.125em solid #000;
            text-align: right;
        }
    
        .nav {                           
            display: none;          /*  toggles open with jQuery */
            clear: both;
            width: 100%;
            padding-top: 8px;
            color: black;
            opacity: none;
            text-align: right;
        }
    
        .nav li.home {
            display: none;
        }
    
        .nav li {
            line-height: 2.4;
            color: black;
            opacity: none;
            text-align: right;
            font-size: 17px;
            padding-right: 3rem;
            margin-right: 1em;
            
        }

    
       
        footer p {
            font-size: 15px;
            text-align: left;
            text-decoration: none;
        }
    
     h1 {
            letter-spacing: normal;
            line-height: 0.9;
            letter-spacing: -1px;
            text-align: left;
            margin-bottom: 30px;
        }
    
        div .btn {
    margin-bottom: 0.1pt;
    padding-bottom: 0.5rem;
        display: none;
}
    article {
        margin-top: 4rem;
    }
}

@media only screen and (min-width: 581px) {                                      /*******  min 581px   *******/
   
        .nav {                           
            display: block !important; 
        }
        .nav li.home {
            display: none;
        }
          
    #portfolio {  
    margin: 1rem 0;
    -webkit-column-count: 3; 
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
    }
    
    .tile { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;

}
    .tile:hover img { 
         -webkit-filter: grayscale(100%);
    }
    
    .scale-anm {
  transform: scale(1);
    }
    
    .tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  
}
    
    
    ::-moz-focus-inner {
  border: 0;
  padding: 0;
}
    
          div .btn {
        display: inline-block;
}
    
    
}
@media only screen and (min-width: 400px) {
 .dr {
    width: 40%;
}
    img.aboutme {
    
    width: 80%;
    }
    
       h3.hf{
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 35px;
}
    
    img.displays {
    width: 160px;
}

    .cli{
    font-size: 16px;

}

}

@media only screen and (min-width: 608px) {
   
    hr.hrabout{
        display: none;
}
    hr.hrcontact{
        display: none;
}
    img.aboutme {
    display: block;
    margin: 1rem 0 0 1rem;
    width: 80%;
    border-right: solid #adadad 2px;
    padding-right: 0.2cm;
    padding-bottom: 4.7em;
    padding-top: 1.7cm;
}
    
    p.pabout {
    font-size: 13px;
    text-align: left;
}
    .aboutp{
        padding-top: 1.5cm;
        padding-bottom: 0;
    }
    .dr {
    display: block;
    margin-left: 1rem;
    margin-right: 0;
    padding-bottom: 1cm;
    padding-right: 0.2cm;
}
    img.display {
        display: none;
    }
    
    img.displayh {
        display: block;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        width: 270px;
        margin-left: 0.5rem;
        border-left: solid #adadad 2px;
        padding-left: 0.3cm;
        padding-bottom: 2cm;
        padding-top: 2cm;
    }
    
    h3.hf{
    margin-top: 1.5rem;
    margin-right: 1rem;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 35px;
    text-align: right;
}
    li.right{
        margin-right: 1rem;
        text-align: right;
    }
   
    hr.hrconnect{
    border-top: 2pt solid #cccccc;
}
    ul.social{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .table{
        display: block;
        flex: none;
     margin-left: 1rem;
    }
    
     .projectbox {
     display: none;
}
    
    
    .projectbox2 {
    display: block;
    float: right;
    padding-top: 0;
    position: fixed;
}
    
    h5.project2{
    display: block;
    text-align:left;
    color: blue;
    font-size: 16px;
    padding-bottom: 0;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    
}

p.projectd2{
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 3rem;
    margin-right: 1rem;
 
}

hr.hrproject2{
    border: 0;
    border-top: 2pt solid #cccccc;
    border-bottom: 1px solid #f6f6f6;
    display: block;
    margin-left: 0;
    padding-bottom: 0;
    margin-bottom: 1.5rem;
}

a.next2 {
    text-decoration: none;
    letter-spacing: 1px;
    margin-bottom: 0;
    text-align: left;
    font-size: 30px;
    margin-top: 3rem;
    padding-top: 3rem;
    display: block;
 
}


a.next2:hover {
    color: gray;
    cursor: pointer;
 
}

ul.nextb2 {
    margin-bottom: 1rem;
    text-align: left;
}
    li.leftli {
        text-align: left;
        
    }
    
img.nicon2 {
    display: block;
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    margin-bottom: 10px;
}

img.nicon2:hover {
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */  
    cursor: pointer;
}
    
    img.imgsz {
        resize: both;
        width:100%;
        height:100%;
    }
    
    a.copy {
     display: none;
    }

a.copy2 {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 25px;
    color: blue;
    font-weight: 500;
    display: block;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: -4rem;
}

    a.copy2:hover{
    color: gray;
    text-decoration: underline;
}
}

@media only screen and (min-width: 708px) {
       img.aboutme {
    border-right: solid #adadad 2px;
    padding-top: 1.2cm;
}
     img.displayh {
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width: 777px) {
     h3.hf{
    margin-top: 1.5rem;
    margin-right: 1rem;
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 45px;
}
  
    img.displayh {
        width: 320px;
        margin-bottom: 2rem;
    }

}

@media only screen and (min-width: 805px) {
    
    .aboutp{
        padding-top: 2cm;
       
}
    
 p.pabout {
    font-size: 15px;
    text-align: left;
    line-height: 25px;
}
    img.aboutme {
    display: block;
    margin:1.5rem 0 0 1rem;
    padding-bottom: 6rem;
    padding-top: 2cm;
    }
    
        table {
    font-size: 15px; 
}
     a.next2 {
    letter-spacing: 1px;
    text-align: left;
    font-size: 35px;
 
}
    
}

@media only screen and (min-width: 886px) {
     h3.hf{
    margin-top: 1.5rem;
    margin-right: 1rem;
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 62px;
    padding-left: 7rem;
}
  
    img.displayh {
        width: 320px;
        padding-left: 0.5cm;
        padding-bottom: 7rem;
         margin-bottom: 1.5rem;
    }

    
    ul.social {
        display: none;
    }

    
    .icons2{
        display: block;
        padding-bottom: 1.6rem;
        display: flex;
        justify-content: center;
    }
    
    img.line {
        padding-right: 16px;
    }
    
    h4.hf{
        font-size: 40px;
    }
    
        a.next2 {
    letter-spacing: 1px;
    text-align: left;
    font-size: 35px;
 
}
    
}

@media only screen and (min-width: 965px) {

    .aboutp{
        padding-top: 2.4cm;
    }
    
    p.pabout {
    font-size: 17px;
    }
    
      img.aboutme {
    padding-right: 0.5cm;
    border-right: solid #adadad 3px;
    }
    
        
}


@media only screen and (min-width: 581px) and (max-width: 945px) {               /*******  min 581px and max 995px   *******/
    
    header {
        padding-bottom: 1rem;
    }
    
    .nav li {
    line-height: 1.5;
    float: left;
    width: 20%;
    vertical-align: middle;
    }
    
  nav a {
    font-size: 18px;
    opacity: none;
    color: black;
    letter-spacing: 1;
  }
    
  h1 {
    font-size: 14px;
  }
    
           ul {
        margin: 0 auto;
        text-align: center; 
    }
    
    ul li {
        display: block;
    }

    ul li a{
        text-decoration: none;
        list-style-type: none;
    }
    
    div .btn {
    margin-bottom: 0;
    margin-top: 1em;
    padding-bottom: 0;
    line-height: 3;
}
    
 

    article {
        margin-top: 5rem;
    }
        footer p {
            font-size: 14px;
            line-height: 1.5;
            margin: 85px 0 115px 0;
        }
   
    /* ------- IE Fixes ------- */

        nav li {
            display: inline;
            color: black;
            opacity: none;
        }
        .oldie nav a {
            margin: 0 0.7%;
            color: black;
        }
}    


@media only screen and (min-width: 905px) and (max-width: 945px) { 
    
       div .btn {
    line-height: 3;
}
}


@media only screen and (min-width: 946px) {   
    /*******   minimum 996px   *******/
    
    header .logo img {
    width: 180px; 
}
    header {
        padding-bottom: 1rem;
    }
    
    .nav li {
    line-height: 1.5;
    float: left;
    width: 20%;
    vertical-align: middle;
    }
    
  nav a {
    font-size: 18px;
    opacity: none;
    color: black;
    letter-spacing: 1;
  }
    
  h1 {
    font-size: 14px;
  }
    
           ul {
        margin: 0 auto;
        text-align: center; 
    }
    
    ul li {
        display: block;
    }

    ul li a{
        text-decoration: none;
        list-style-type: none;
    }
    
    div .btn {
    margin-bottom: 0;
    margin-top: 1em;
    padding-bottom: 0;
    line-height: 3;
}
    
    
    .footer-outer {
            width: 100%;
        }
        footer p {
            font-size: 15px;
            text-align: center;
    }
    
        div .btn {
    margin-bottom: 0;
    padding-bottom: 0;
}
    article {
        margin-top: 5rem;
    }
    
     a.next2 {
    letter-spacing: 4px;
    text-align: left;
    font-size: 40px;
     line-height: 45px; 
 
}
    
    .projectbox2 {
        display: block;
        float: right;
        padding-top: 1rem;
        padding-right: 0.5rem;
}
}

@media only screen and (min-width: 960px) {
        .projectbox2 {
        padding-right: 2rem;
}
}

@media only screen and (min-width: 996px) { /*******   min 1024px   *******/
    
    
      div .btn {
    margin-bottom: 0;
    padding-bottom: 0;
          line-height: 3;
    }
    
     article {
        margin-top: 5rem;
    }
    
    h4.hf{
        font-size: 40px;
        letter-spacing: 5px;
    }
    
    
}

@media only screen and (min-width: 1015px) {
    
    .aboutp{
        padding-top: 2.3cm;
    }
    
        p.pabout {
       margin-right: 1rem;
      line-height: 29px;
}
    
    img.aboutme {
    margin:1.5rem 0 0 1rem;
    }
    
    img.displayh {
        width: 380px;
        padding-left: 0.7cm;
        padding-bottom: 5rem;
        margin-bottom: 2rem;
    }
    
       img.line {
        margin-right: 0.5rem;
    }
        h5.project2{
    font-size: 22px;
    letter-spacing: 2px;
    
}

p.projectd2{
    
    font-size: 17px;
    letter-spacing: 1.6px;
    line-height: 27.5px;
    text-align: left;
    margin-bottom: 3rem;
    margin-right: 1rem;
 
}
    
        .projectbox2 {
        padding-right: 2rem;
}
}



@media only screen and (min-width: 1250px) {                                   /*******   min 1250px   *******/
    
        header .logo img {
    width: 200px; 
}
    article{
        margin-top: 5rem;
    }
    
     .aboutp{
        padding-top: 2.3cm;
    }
    
    p.pabout {
    font-size: 17px;
    }
    
       img.aboutme {
        margin:1rem 0 0 2rem;
        padding-right: 0.7cm;
        padding-top: 3em;
        padding-bottom: 7rem;
          
    }
    
    p.pabout {
       margin-right:1rem;
}
    
    img.displayh {
    
        margin-bottom: 2rem;
    }
   
    h4.hf{
        font-size: 50px;
        letter-spacing: 5px;
    }
    
    img.displays {
        width: 200px;
    }
    

}

@media only screen and (min-width: 1375px) { 
       p.pabout {
       margin-right: 3rem;
    margin-left: 1rem;
}
    
    .dr {
        width: 30%;
        margin-left: 1rem;
        
    }
    
    img.aboutme {
        padding-bottom: 4.5rem;
          
    }
    
     h3.hf{
    margin-top: 1.5rem;
    margin-right: 1rem;
    font-size: 60px;
    letter-spacing: 2px;
    line-height: 75px;
    padding-left: 7rem;
}
  
    img.displayh {
        width: 420px;
        padding-left: 0.5cm;
        padding-bottom: 7rem;
        margin-bottom: 2rem;
    }

    
.cli{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 40px;
}
    
    .projectbox2 {
        padding-right: 3rem;
}
    
}

@media only screen and (min-width: 1595px) { 
    p.pabout {
    margin-right: 3rem;
    margin-left: 1rem;
        font-size: 22px;
          line-height: 40px;
    letter-spacing: 2px;
}
    
    .dr {
        width: 30%;
        margin-left: 1rem;
        
    }
    
    img.aboutme {
        padding-bottom: 4.5rem;
          
    }
      img.displayh {
        width: 520px;
        padding-left: 0.8cm;
        padding-bottom: 5rem;
        margin-bottom: 2rem;
    }
    
    img.line {
       height: 80px;
        margin-right: 2rem;
    }
    
        .projectbox2 {
        padding-right: 4rem;
}

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Modernizr Fixes for current IE (every other browser picks it up too)
   ========================================================================== */
.canvas .ss-icon {
    visibility: visible;
    display: inline-block;
 }
.canvas nav a:link, .canvas nav a:hover, .canvas nav a:active, .canvas nav a:focus {
    font-family: 'Josefin Sans', sans-serif;

  
}
.canvas h4, .canvas ul, .canvas li, .canvas li a, .canvas p {
    color: black;
    opacity: none;
}

/* ==========================================================================
   Firefox Fixes
   ========================================================================== */

@-moz-document url-prefix() { 
    
    .canvas nav a:link, .canvas nav a:hover, .canvas nav a:active, .canvas nav a:focus {
;
   
    }
    .canvas ul, .canvas li, .canvas li a, .canvas p {
        color: black;
    }
}

/* ==========================================================================
   Saf3+ Chrome1+
   ========================================================================== */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .canvas nav a:link, .canvas nav a:hover, .canvas nav a:active, .canvas nav a:focus {
   
        
    }
    .canvas ul, .canvas li, .canvas li a, .canvas p {
        color: black;
        opacity: none;
        padding: 0;
    }
}

/* ==========================================================================
   IE 9 CC Fixes (< = IE 8 Display None)
   ========================================================================== */

.lt-ie9 #header-outer, .lt-ie9 .mainContent-outer, .lte-ie9 #contact a i.ss-social-circle, .lt-ie9 footer {         /** For IE8 and Below **/
    visibility: hidden;
    display: none;
}
.lte-ie9 .ss-icon {
    visibility: visible;
    display: inline-block;
}
.lte-ie9 nav a:link, .lte-ie9 nav a:hover, .lte-ie9 nav a:active, .lte-ie9 nav a:focus {
      font-family: 'Josefin Sans', sans-serif;;

}
.lte-ie9 h1, .lte-ie9 #form-inner-wrapper h1 {
    letter-spacing: -0.04em;
}
.lte-ie9 h4, .lte-ie9 li, .lte-ie9 li a,.lte-ie9 p {
   color: black;
}
.lte-ie9 #interlude1 p {
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.08em;
    color: black;
}

 